* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

/* Style for the page container */
.page-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 100% of the viewport height */
  padding-bottom: 80px;
}

.about-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Set the height as needed */
  z-index: 999; /* Ensure it's above other elements */
}

.about-image {
  min-height: 80px;
}

/* Style for the full-page image */
.about-image img {
  max-width: 100%;
  height: auto;
  object-fit: cover; /* Scale the image to cover the entire container */
  position: absolute;
  top: 0;
  left: 0;
}

/* Style for the image overlay */
.image-overlay {
  display: none;
  position: absolute;
  top: 50%; /* Place the overlay vertically centered */
  left: 50%; /* Place the overlay horizontally centered */
  transform: translate(-50%, -50%); /* Center the overlay precisely */
  color: white;
  text-align: center;
  padding: 20px; /* Add padding to the text for readability */
}

/* Style for the text elements */
.image-title {
  font-size: 72px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px; /* Adjust as needed */
  white-space: nowrap; /* Prevent text from wrapping */
  color: #408cdc;
}

.about-content {
  display: flex;
  margin: 50px;
  font-size: 24px;
}

.about-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background: #408cdc;
  box-sizing: border-box;
  z-index: 1000; /* Ensure it's above other elements */
}

@media (max-width: 995px) {
  .about-content {
    margin: 20px;
  }
}
