/* Style for the header container */
.header-container {
  position: fixed;
  top: 0;
  background: #408cdc;
  padding: 10px 30px;
  z-index: 12;
  overflow-y: hidden;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style for the logo */
.lefthand-logo {
  display: flex;
  align-items: center;
}

/* Style for the title */
.wsite-title {
  font-family: "Montserrat";
  font-size: 20px;
  color: white;
  margin-left: 10px;
}

@media (min-width: 1001px) {
  .nav {
    display: flex;
    /* Style for the navigation menu */
    text-align: right;
    margin-left: auto;

    /* Style for the menu items */
    .wsite-menu {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }

    .wsite-menu-item {
      font-family: "Montserrat";
      margin-right: 20px;
      text-decoration: none;
      color: white;

      /* Add padding to create a larger white box around text */
      padding: 5px 15px; /* Adjust these values as needed */
      transition: outline 0.3s; /* Add a smooth transition effect */
    }

    /* Style for the white box on hover */
    .wsite-menu-item:hover {
      outline: 3px solid white; /* Add a white border on hover */
    }
  }
}

@media (max-width: 1000px) {
  /* Hide the desktop navigation menu */

  .nav {
    display: none;
  }

  /* Style for the mobile menu items */
  .nav .wsite-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .wsite-menu-item {
    font-family: "Montserrat";
    margin-right: 20px;
    text-decoration: none;
    color: white;

    /* Add padding to create a larger white box around text */
    padding: 5px 15px; /* Adjust these values as needed */
  }
}

/* Style for the content below the header */
.index-content {
  margin-top: 70px;
}

.wsite-logo img {
  max-width: 100px;
  height: auto;
}

.index-content {
  margin-top: 70px;
}

/* for styling with respect to other modules */
.page-container {
  padding-top: 80px; /* Adjust the value to match the header height */
}

body {
  margin: 0;
  padding: 0;
}
