* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

/* Style for the header container */
.header-container {
  opacity: 1;
  transition: opacity 0.5s ease;
  position: fixed;
  top: 0;
  background: #408cdc;
  padding: 0px 30px;
  z-index: 12;
  overflow-y: hidden;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}

/* Style for the logo */
.lefthand-logo {
  display: flex;
  align-items: center;
}

/* Style for the title */
.wsite-title {
  font-family: "Montserrat";
  font-size: 20px;
  color: white;
  margin-left: 20px;
}

.nav-list {
  display: flex;
  /* Style for the navigation menu */
  text-align: right;
  margin-left: auto;

  /* Style for the menu items */
  .wsite-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .wsite-menu-item {
    font-family: "Montserrat";
    margin-right: 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;

    /* Add padding to create a larger white box around text */
    padding: 5px 15px; /* Adjust these values as needed */
    transition: outline 0.3s; /* Add a smooth transition effect */
  }

  /* Style for the white box on hover */
  .wsite-menu-item:hover {
    outline: 3px solid white; /* Add a white border on hover */
  }
}

.hamburger-icon {
  display: none;
}

/* for making the text smaller past a screen size */
@media (max-width: 995px) {
  /* by default hide the nav-list */
  .nav-list {
    display: none;
  }

  /* shop the hamburger icon in its place */
  .hamburger-icon {
    display: block;
    color: white;
    position: absolute; /* Position it absolutely */
    top: 40px; /* Adjust the top position as needed */
    right: 20px; /* Adjust the left position as needed */
    margin-left: 20px;
  }

  .header-container.nav-open {
    height: 100%;
  }

  .header-container.nav-open .lefthand-logo {
    display: none;
  }

  /* Style for the mobile menu items */
  .header-container.nav-open .wsite-menu {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
}

/* Style for the content below the header */

.wsite-logo img {
  max-width: 100px;
  height: auto;
}

/* for styling with respect to other modules */
.page-container {
  /*   padding-top: 80px; /* Adjust the value to match the header height */
  margin-left: auto;
  margin-right: auto;
}
