s * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style for the page container */
.page-container {
  padding-top: 90px;
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 100% of the viewport height */
  padding-bottom: 80px;
}

.about-image {
  position: relative;
  flex-grow: 1; /* Allow the image to grow and take available space */
  height: 0; /* Set initial height to 0 */
  padding-bottom: 56.25%; /* Maintain a 16:9 aspect ratio for the image */
  overflow: hidden;
}

/* Style for the full-page image */
.about-image img {
  max-width: 100%;
  height: auto;
  object-fit: cover; /* Scale the image to cover the entire container */
  position: absolute;
  top: 0;
  left: 0;
}

/* Style for the image overlay */
.image-overlay {
  position: absolute;
  top: 50%; /* Place the overlay vertically centered */
  left: 50%; /* Place the overlay horizontally centered */
  transform: translate(-50%, -50%); /* Center the overlay precisely */
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 20px; /* Add padding to the text for readability */
}
