* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

/* Style for the page container */
.page-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* 100% of the viewport height */
  padding-bottom: 80px;
}

.member-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.member-image {
  min-height: 80px;
}

.member-content {
  margin-left: 0px;
  font-size: 24px;
  padding: 10px;
}

.member-entry {
  font-size: 20px;
  line-height: 1.4;
  background-color: #f5f3f1;
  margin-bottom: 16px;
  padding: 16px 24px;
  letter-spacing: -1px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.image-and-name {
  border-radius: 10px;
  width: 200px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.image-and-name img {
  width: 180px;
  height: auto;
}

.member-name {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #ddecef;
}

.member-facts {
  display: flex;
  flex-direction: row;
}

.member-blob {
  background-color: #ddecef;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}

.blob-title {
  font-size: 22px;
}

.member-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background: #408cdc;
  box-sizing: border-box;
  z-index: 1000; /* Ensure it's above other elements */
}
